:root
{
    --grid: inline-block;
    --card-full: none;
    --card-with: 30vw;
    --card-brief: block;
}
.carousel{
    white-space: nowrap;
}
.card
{
    opacity: .7;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: var(--card-with);
    white-space: normal;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    color: #272727;
    border-radius: 2px;
}

.card h4
{
    margin: 0;
}

.card:hover
{
    box-shadow: 0 4px 10px 2px #969696;
}

.card-content
{
    font-weight: 300;
    border-radius: 0 0 2px 2px;
}

.card-content-full
{
    display: var(--card-full);
}

.card-content-brief
{
    display: var(--card-brief);
}

.list
{
    padding: 0 15px 15px;
    transition: .3s;
}

.list-item
{
    font-size: 1em;
    padding: 2px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #777;
    transition: .3s;

}

.list-item:hover
{
    color: #3a3434;
}

.card-avatar
{
    height: 250px;
    position: relative;
    margin: auto;
    background: #3949ab;
}

.card-avatar-image
{
    width: 100%;
    height: 100%;
    border-radius: 2px 2px 0 0;
}

.card-avatar-image:hover
{
    transform: scale(1.05);
}

.card-avatar-title
{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 48px;
    font-weight: 300;
    font-size: 2em;
    padding: 20px;
    margin: auto;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}
